# Data and Cache directories
data/
model_cache/
__pycache__/
*.pyc
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/

# Large model weights (too large for standard Git repos)
output/bert_classifier.pth/
output/bilstm_attention.pth
output/tfidf_lr.pkl
